<h1>Cheerful</h1>

<ul>
  {{#each shows}}
    {{#if}}
    <li>
        {{title}}
        {{genre}}
        {{seasons}}
    </li>
    {{/if}}
  {{/each}}
</ul>

<script src="/public/assets/js/index.js"></script>