<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<jumbotron>
    <h1>Netflix Tv Series Guide</h1>
</jumbotron>

<!-- Build your index page here! -->

<h1></h1>

<h2>All Shows</h2>

<ul>
  {{#each shows}}
    {{!-- {{#if mood = cheerful}} --}}
    <li>
        {{title}}

    </li>
    {{!-- {{/if}} --}}
  {{/each}}
</ul>

<script src="/public/assets/js/index.js"></script>