<h1>Hello, World! You are in index.handlebars</h1>

<!-- Build your index page here! -->

<h1></h1>

<h2>All Shows</h2>

<ul>
  {{#each shows}}
    {{!-- {{#if mood = cheerful}} --}}
    <li>
        {{this.title}}

    </li>
    {{!-- {{/if}} --}}
  {{/each}}
</ul>

<script src="/public/assets/js/index.js"></script>