.header {
    background-color: red;
    text-align: center;
    font-family: 'Passion One', cursive;
    text-shadow: black 3px 2px 3px;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Passion One', cursive;
}

.card {
    background-color: black;
}

.row {
    font-family: 'Passion One', cursive;
    font-size: 3em;
    text-shadow: black 2px, 2px, 2px;
}

.list-group-item {
    background-color: darkcyan;
}

body {
    margin: 0px;
}
















