.header {
    background-color: red;
    text-align: center;
    font-family: 'Passion One', cursive;
    text-shadow: black 3px 2px 3px;
    border-color: black;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Passion One', cursive;
}

.container-fluid {
    color: black;
    margin-bottom: 10px;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    text-shadow:black  3px, 2px, 2px;
    font-size: 2em;
}















